nav {
  font-size: 1.125rem;
  font-family: Koop,Arial,serif;
  font-weight: bold;
  margin-top: 20px;
}

.nav {
  cursor: pointer;
  padding-bottom: 15px;
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

#login {
  text-align: right;
}

.nav:hover {
  color: #00843d;
  border-bottom: #00843d solid;
}

.logo {
  font-size: 30px;
  margin: 20px;
  color: #00843d;
}
