<h2>Souhrn žádosti</h2>

<hr>

<div class="requestSliders">
  <form>
    <div class="reqAmDur">
      <div class="reqText">
        <h4>Částka:</h4>
        <p>6000 Kč</p>
      </div>
      <div class="reqSlide">
        <input type="range" min="6000" max="1200000" value="7000">
        <div class="reqSlideVal">6000 Kč</div>
      </div>
    </div>
    <div class="reqAmDur">
      <div class="reqText">
        <h4>Doba splácení:</h4>
        <p>5 let</p>
      </div>
      <div class="reqSlide">
        <input type="range" min="6" max="60" value="12">
        <div class="reqSlideVal">5 let</div>
      </div>
    </div>
  </form>
</div>

<hr>

<div class="reqPersonal">
  <div class="reqData">
    <h4>Jméno:</h4>
    <p>Heribert</p>
  </div>
  <div class="reqData">
    <h4>Příjmení:</h4>
    <p>Greinix</p>
  </div>
</div>

<hr>

<div class="reqPersonal">
  <div class="reqData">
    <h4>Placeholder:</h4>
    <p>Placeholder</p>
  </div>
  <div class="reqData">
    <h4>Placeholder:</h4>
    <p>Placeholder</p>
  </div>
</div>
