<form [formGroup]="loanFormOSVC" (ngSubmit)="onSubmit()">
    <div class="form-inputs">
      <label for="name">Jméno</label>
      <div class="warning-message-input">
        <input type="text" id="name" formControlName="name">
        <span *ngIf="!loanFormOSVC.get('name').valid && loanFormOSVC.get('name').touched">
      <span class="warning-message" *ngIf="loanFormOSVC.get('name').errors['required']">Vyplňte jméno</span>
      <span class="warning-message" *ngIf="loanFormOSVC.get('name').errors['pattern']">Jméno nesmí obsahovat číslice.</span>
      </span></div>

      <label for="surname">Příjmení</label>
      <div class="warning-message-input">
        <input type="text" id="surname" formControlName="surname">
        <span *ngIf="!loanFormOSVC.get('surname').valid && loanFormOSVC.get('name').touched">
      <span class="warning-message" *ngIf="loanFormOSVC.get('surname').errors['required']">Vyplňte jméno</span>
      <span class="warning-message" *ngIf="loanFormOSVC.get('surname').errors['pattern']">Jméno nesmí obsahovat číslice.</span>
      </span></div>

      <label for="IC">IČO</label>
      <div class="warning-message-input">
        <input type="number" id="IC" formControlName="IC">
        <span class="warning-message"
              *ngIf="!loanFormOSVC.get('IC').valid && loanFormOSVC.get('IC').touched">Nesprávný formát</span>
      </div>

      <label for="nationality">Státní příslušnost</label>
      <input type="text" id="nationality" formControlName="nationality">

      <label for="email">E-mail</label>
      <div class="warning-message-input">
        <input type="email" id="email" formControlName="email">
        <span class="warning-message" *ngIf="!loanFormOSVC.get('email').valid && loanFormOSVC.get('email').touched">Nesprávný formát</span>
      </div>

      <label for="phone">Telefonní číslo</label>
      <div class="tel-input warning-message-input">
        <p>+ 420</p>
        <input type="tel" id="phone" formControlName="phone">
        <span class="warning-message" *ngIf="!loanFormOSVC.get('phone').valid && loanFormOSVC.get('phone').touched">Nesprávný formát</span>
      </div>

      <p>Adresa:</p>
      <div formGroupName="address">
        <label for="street">Ulice</label>
        <input type="text" id="street" formControlName="street">
        <label for="descNumber">Číslo popisné</label>
        <input type="number" id="descNumber" formControlName="descNumber">
        <label for="indicativeNumber">Číslo orientační</label>
        <input type="number" id="indicativeNumber" formControlName="indicativeNumber">
        <label for="city">Město</label>
        <input type="text" id="city" formControlName="city">
        <label for="postalCode">Poštovní směrovací číslo</label>
        <input  type="number" id="postalCode" formControlName="postalCode">
      </div>
    </div>
  <button type="submit" class="loan-form-submit">Odeslat</button>
</form>
