.admin {
  position: absolute;
  margin-top: 7em;
  left: 50%;
  transform: translateX(-50%);
}

.whoIsLogged {
  margin-left: auto;
}

.table {
  border: 1px solid black;
  border-collapse: collapse;
}


.table th {
  border: 1px solid black;
  padding: 10px;
  background-color: #00843d;
  color: white;
}

.table td {
  border: 1px solid black;
  padding: 10px;
}

.table button {
  padding: 5px;
  margin: 5px;
}

option {
  border-width: 1px;
}
