<div class="request-detail-box">
<div class="request-detail">
  <h2>Souhrn žádosti</h2>

  <hr>

  <div class="reqPersonal">
    <div class="reqData">
      <h4>Fyzická osoba</h4>
    </div>
    <div class="reqData">
      <h4>Název firmy:</h4>
      <p></p>
    </div>
    <div class="reqData">
      <h4>Jméno:</h4>
      <p>Heribert</p>
    </div>
    <div class="reqData">
      <h4>Příjmení:</h4>
      <p>Greinix</p>
    </div>
    <div class="reqData">
      <h4>Rodné číslo:</h4>
      <p></p>
    </div>
    <div class="reqData">
      <h4>IČO:</h4>
      <p></p>
    </div>
    <div class="reqData">
      <h4>Pozice ve firmě:</h4>
      <p></p>
    </div>
    <div class="reqData">
      <h4>Státní příslušnost:</h4>
      <p>Česká republika</p>
    </div>
    <div class="reqData">
      <h4>E-mail:</h4>
      <p>khorakova@seznam.cz</p>
    </div>
    <div class="reqData">
      <h4>Telefonní číslo:</h4>
      <p></p>
    </div>
    <div class="reqData">
      <h4>Adresa:</h4>
      <p></p>
    </div>
  </div>

</div>
<button class="back-button" (click)="backToAllRequest()">Zpět na přehled žádostí</button>
</div>


