.request-detail-box {
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 120px auto;
}

.request-detail {
  border: 1px solid #00843d;
  padding: 20px;
}

.back-button {
  margin: .8em 20px;
  width: 30%;
  font-weight: bold;
  background: #00843d;
  border: 1px solid #00843d;
  color: white;
  padding: .5em 0;
  transition-duration: 500ms;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.back-button:hover {
  cursor: pointer;
  background: white;
  color: #00843d;
  transition-duration: 500ms;
}


