<form [formGroup]="loanFormLegalEntity" (ngSubmit)="onSubmit()">
  <div class="form-inputs">
    <label for="IC">IČO</label>
    <div class="warning-message-input">
    <input type="number" id="IC" formControlName="IC">
    <span class="warning-message"
          *ngIf="!loanFormLegalEntity.get('IC').valid && loanFormLegalEntity.get('IC').touched">Nesprávný formát</span>
  </div>

    <label for="companyName">Název firmy</label>
    <div class="warning-message-input">
    <input type="text" id="companyName" formControlName="companyName">
    <span class="warning-message" *ngIf="!loanFormLegalEntity.get('companyName').valid && loanFormLegalEntity.get('companyName').touched">Vyplňte název firmy</span>
  </div>

    <p>Osoba jednající za firmu:</p>
    <label for="name">Jméno</label>
    <div class="warning-message-input">
      <input type="text" id="name" formControlName="name">
      <span *ngIf="!loanFormLegalEntity.get('name').valid && loanFormLegalEntity.get('name').touched">
      <span class="warning-message" *ngIf="loanFormLegalEntity.get('name').errors['required']">Vyplňte jméno</span>
      <span class="warning-message" *ngIf="loanFormLegalEntity.get('name').errors['pattern']">Jméno nesmí obsahovat číslice.</span>
      </span></div>

    <label for="surname">Příjmení</label>
    <div class="warning-message-input">
      <input type="text" id="surname" formControlName="surname">
      <span *ngIf="!loanFormLegalEntity.get('surname').valid && loanFormLegalEntity.get('name').touched">
      <span class="warning-message" *ngIf="loanFormLegalEntity.get('surname').errors['required']">Vyplňte jméno</span>
      <span class="warning-message" *ngIf="loanFormLegalEntity.get('surname').errors['pattern']">Jméno nesmí obsahovat číslice.</span>
      </span></div>

    <div>
      <label for="position">Pozice ve firmě</label>
      <select id="position" formControlName="position" class="main-form-select">
        <option>Jednatel</option>
      </select>
    </div>


    <label for="email">E-mail</label>
    <div class="warning-message-input">
      <input type="email" id="email" formControlName="email">
      <span class="warning-message"
            *ngIf="!loanFormLegalEntity.get('email').valid && loanFormLegalEntity.get('email').touched">Nesprávný formát</span>
    </div>

    <label for="phone">Telefonní číslo</label>
    <div class="tel-input">
      <p>+ 420</p>
      <input type="tel" id="phone" formControlName="phone">
    </div>

    <p>Adresa:</p>
    <div formGroupName="address">
      <label for="street">Ulice</label>
      <input type="text" id="street" formControlName="street">
      <label for="descNumber">Číslo popisné</label>
      <input type="number" id="descNumber" formControlName="descNumber">
      <label for="indicativeNumber">Číslo orientační</label>
      <input type="number" id="indicativeNumber" formControlName="indicativeNumber">
      <label for="city">Město</label>
      <input type="text" id="city" formControlName="city">
      <label for="postalCode">Poštovní směrovací číslo</label>
      <input type="number" id="postalCode" formControlName="postalCode">
    </div>
  </div>
  <button type="submit" class="loan-form-submit">Odeslat</button>
</form>
